
/*
 * margin, padding
 */

// padding
.for(@nums, {
  // padding
  .padding-@{value} { padding: @value * 1px; }
  // padding-top
  .padding-top-@{value} { padding-top: @value * 1px; }
  // padding-right
  .padding-right-@{value} { padding-right: @value * 1px; }
  // padding-bottom
  .padding-bottom-@{value} { padding-bottom: @value * 1px; }
  // padding-left
  .padding-left-@{value} { padding-left: @value * 1px; }
  // padding-x
  .padding-x-@{value} { padding-left: @value * 1px; padding-right: @value * 1px; }
  // padding-y
  .padding-y-@{value} { padding-top: @value * 1px; padding-bottom: @value * 1px; }
});

// margin
.for(@nums, {
  // margin
  .margin-@{value} { margin: @value * 1px; }
  // margin-top
  .margin-top-@{value} { margin-top: @value * 1px; }
  // margin-right
  .margin-right-@{value} { margin-right: @value * 1px; }
  // margin-bottom
  .margin-bottom-@{value} { margin-bottom: @value * 1px; }
  // margin-left
  .margin-left-@{value} { margin-left: @value * 1px; }
  // margin-x
  .margin-x-@{value} { margin-left: @value * 1px; margin-right: @value * 1px; }
  // margin-y
  .margin-y-@{value} { margin-top: @value * 1px; margin-bottom: @value * 1px; }
});

.margin-left-auto { margin-left: auto; }
.margin-right-auto { margin-right: auto; }
.margin-x-auto { .margin-left-auto; .margin-right-auto; }

