
// text-align
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

// typography
.font-bold { font-weight: bold; }
.font-italic { font-style: italic; }

// font-size
.font-size {

}

// font-size
.for(@nums, {
  .font-size-@{value} { font-size: @value * 1px; }
});