/*
 * util
 */

/*
 * reset
 */

* {
  border-color: rgba(0, 0, 0, 0.1);
}
body {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
img, svg {
  max-width: 100%;
}

/*
 * method
 */
.for(@list, @code) {
  & {
    .loop(@i:0) when (@i < length(@list)) {
      @value: extract(@list, @i+1);
      @code();
      .loop(@i + 1);
    }

    .loop();
  }
}



// .container {
//   margin: 0px auto;
//   max-width: 1280px;
//   width: 90%;
// }


/*
 * display
 */
.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }


/*
 * position
 */
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}

/*
 * object-fit
 */
.object-fit-cover { object-fit: cover; }

/*
 * overflow
 */
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.overflow-scroll {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

/*
 * transition
 */

.transition {
  transition: 256ms;
}

// shadow
.box-shadow {
  box-shadow: 0px 0px 4px 0px #222;
}



