/*
 * util
 */

/*
 * variables
 */

// 32 までの数字と, 10, 20, 30... と, フィボナッチ数列
@nums: 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,34,40,50,55,60,70,80,89,90,100,200,256,300,400,500,600,700,800,900,1000;
@colors: black white red yellow green cyan blue purple skyblue aquamarine ghostwhite dimgray cornflowerblue;

// media
@mobile: 600px;
@desktop: 993px;
@small-max: @mobile;
@medium-min: (@mobile + 1);
@medium-max: (@desktop - 1);
@desktop-min: @desktop;

@media-mobile: ~"only screen and (max-width : @{small-max})";
@media-tablet: ~"only screen and (min-width: @{medium-min}) and (max-width: @{medium-max})";
@media-desktop: ~"only screen and (min-width : @{desktop-min})";

/*
 * reset
 */

a {
  color: inherit;
  text-decoration: none;
}

/*
 * method
 */
.for(@list, @code) {
  & {
    .loop(@i:0) when (@i < length(@list)) {
      @value: extract(@list, @i+1);
      @code();
      .loop(@i + 1);
    }

    .loop();
  }
}



// .container {
//   margin: 0px auto;
//   max-width: 1280px;
//   width: 90%;
// }


/*
 * display
 */
.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }


/*
 * position
 */
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}

/*
 * object-fit
 */
.object-fit-cover { object-fit: cover; }

/*
 * overflow
 */
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.overflow-scroll {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}


// shadow
.box-shadow {
  box-shadow: 0px 0px 4px 0px #222;
}



