/*
 * util
 */



/*
 * media
 */
@mobile: 600px;
@desktop: 993px;

@small-max: @mobile;
@medium-min: (@mobile + 1);
@medium-max: (@desktop - 1);
@desktop-min: @desktop;

@media-mobile: ~"only screen and (max-width : @{small-max})";
@media-tablet: ~"only screen and (min-width: @{medium-min}) and (max-width: @{medium-max})";
@media-desktop: ~"only screen and (min-width : @{desktop-min})";



/*
 * method
 */
.for(@list, @code) {
  & {
    .loop(@i:0) when (@i < length(@list)) {
      @value: extract(@list, @i+1);
      @code();
      .loop(@i + 1);
    }

    .loop();
  }
}



// .container {
//   margin: 0px auto;
//   max-width: 1280px;
//   width: 90%;
// }


/*
 * display
 */
.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }


/*
 * position
 */
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}

/*
 * text-align
 */
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }


/*
 * typography
 */
.bold { font-weight: bold; }
.italic { font-style: italic; }

/*
 * overflow
 */
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.overflow-scroll {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}


// ellipsis/line-clamp
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.for(1 2 3 4 5 6 7 8 9 10, {
  .line-clamp-@{value} {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: @value;
  }
});

// shadow
.box-shadow {
  box-shadow: 0px 0px 4px 0px #222;
}



